<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	th:replace="~{base::Layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section>

		<div class="container p-5 mt-3">
			<div calss="row">
				<div class="col-md-6 offset-md-3">
					<div class="card">
						<div class="card-header text-center fs-4">Add Product</div>
						<div class="card-body">

							<form action="">
								<div class="mb-3">
									<label>Enter title </label> <input type="text" name="title"
										class="form-control" />
								</div>
								
								<div class="mb-3">
									<label>Enter Description </label>
									<textarea rows="3" col="" class="form-control"></textarea>
								</div>
								
								<div class="mb-3">
									<label>Category </label>
									<select class="form-control"> 
									<option>-- select --</option>
									<option>Electronics</option>
									</select>
								</div>
								
								<div class="mb-3">
									<label>Enter Price </label> <input type="text" name="price"
										class="form-control" />
								</div>
								
								<div class="mb-3">
									<label>Enter stock </label> <input type="text" name="stock"
										class="form-control" />
								</div>
								
								<div class="mb-3">
									<label>upload Image </label> <input type="file" name="image"
										class="form-control" />
								</div>
								
								<button class="btn btn-primary col-md-12">Submit</button>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>